## 02 DATA VALIDATION

In [1]:
import os
from dataclasses import dataclass

Get in the correct working directory

In [2]:
%pwd

'/Users/chrissunderland/Desktop/starbucks_ratings_predictions/notebooks'

In [3]:
os.chdir("../")

In [4]:
%pwd

'/Users/chrissunderland/Desktop/starbucks_ratings_predictions'

###   Load the datasets

In [5]:
import pandas as pd
from src.StarbucksProject.utils.common import read_yaml
from src.StarbucksProject.constants import *

In [6]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

#### ACS - Demo + Housing

In [7]:
acs_demo_housing_path = read_yaml(CONFIG_FILE_PATH).data_ingestion.acs_demo_housing_clean
acs_demo_housing = pd.read_csv(acs_demo_housing_path)
acs_demo_housing = acs_demo_housing.iloc[:, 1:]

[ 2024-07-16 19:25:57,918: INFO: common: yaml file: config/config.yaml loaded successfully ]

#### ACS - Econ

In [8]:
acs_econ_path = read_yaml(CONFIG_FILE_PATH).data_ingestion.acs_econ_clean
acs_econ = pd.read_csv(acs_econ_path)
acs_econ = acs_econ.iloc[:, 1:]

[ 2024-07-16 19:25:57,947: INFO: common: yaml file: config/config.yaml loaded successfully ]

#### ACS - Housing

In [9]:
acs_housing_path = read_yaml(CONFIG_FILE_PATH).data_ingestion.acs_housing_clean
acs_housing = pd.read_csv(acs_housing_path)
acs_housing = acs_housing.iloc[:, 1:]

[ 2024-07-16 19:25:57,988: INFO: common: yaml file: config/config.yaml loaded successfully ]

#### ACS - Social

In [10]:
acs_social_path = read_yaml(CONFIG_FILE_PATH).data_ingestion.acs_social_clean
acs_social = pd.read_csv(acs_social_path)
acs_social = acs_social.iloc[:, 1:]

[ 2024-07-16 19:25:58,028: INFO: common: yaml file: config/config.yaml loaded successfully ]

#### Yelp Reviews

In [11]:
yelp_path = read_yaml(CONFIG_FILE_PATH).data_ingestion.yelp_csv
yelp = pd.read_csv(yelp_path)

[ 2024-07-16 19:25:58,068: INFO: common: yaml file: config/config.yaml loaded successfully ]

###   Inspect the fields

#### ACS - Demo + Housing

In [12]:
acs_demo_housing.shape

(530, 88)

In [13]:
acs_demo_housing.head(2)

,ZCTA,Total population,Total population Male,Total population Female,Total population Sex ratio (males per 100 females),Total population Under 5 years,Total population 5 to 9 years,Total population 10 to 14 years,Total population 15 to 19 years,Total population 20 to 24 years,Total population 25 to 34 years,Total population 35 to 44 years,Total population 45 to 54 years,Total population 55 to 59 years,Total population 60 to 64 years,Total population 65 to 74 years,Total population 75 to 84 years,Total population 85 years and over,Total population Median age (years),Total population Under 18 years,Total population 16 years and over,Total population 18 years and over,Total population 21 years and over,Total population 62 years and over,Total population 65 years and over,Total population 18 years and over.1,Total population 18 years and over Male,Total population 18 years and over Female,Total population 18 years and over Sex ratio (males per 100 females),Total population 65 years and over.1,Total population 65 years and over Male,Total population 65 years and over Female,Total population 65 years and over Sex ratio (males per 100 females),Total population One race,Total population Two or More Races,Total population One race.1,Total population One race White,Total population One race Black or African American,Total population One race American Indian and Alaska Native,Total population One race American Indian and Alaska Native Cherokee tribal grouping,Total population One race American Indian and Alaska Native Chippewa tribal grouping,Total population One race American Indian and Alaska Native Navajo tribal grouping,Total population One race American Indian and Alaska Native Sioux tribal grouping,Total population One race Asian,Total population One race Asian Asian Indian,Total population One race Asian Chinese,Total population One race Asian Filipino,Total population One race Asian Japanese,Total population One race Asian Korean,Total population One race Asian Vietnamese,Total population One race Asian Other Asian,Total population One race Native Hawaiian and Other Pacific Islander,Total population One race Native Hawaiian and Other Pacific Islander Chamorro,Total population One race Native Hawaiian and Other Pacific Islander Native Hawaiian,Total population One race Native Hawaiian and Other Pacific Islander Samoan,Total population One race Native Hawaiian and Other Pacific Islander Other Native Hawaiian and Other Pacific Islander,Total population One race Some Other Race,Total population Two or More Races.1,Total population Two or More Races White and Black or African American,Total population Two or More Races White and American Indian and Alaska Native,Total population Two or More Races White and Asian,Total population Two or More Races White and Some Other Race,Total population Two or More Races Black or African American and American Indian and Alaska Native,Total population Two or More Races Black or African American and Some Other Race,Total population White,Total population Black or African American,Total population American Indian and Alaska Native,Total population Asian,Total population Native Hawaiian and Other Pacific Islander,Total population Some Other Race,Total population Hispanic or Latino (of any race),Total population Hispanic or Latino (of any race) Mexican,Total population Hispanic or Latino (of any race) Puerto Rican,Total population Hispanic or Latino (of any race) Cuban,Total population Hispanic or Latino (of any race) Other Hispanic or Latino,Total population Not Hispanic or Latino,Total population Not Hispanic or Latino White alone,Total population Not Hispanic or Latino Black or African American alone,Total population Not Hispanic or Latino American Indian and Alaska Native alone,Total population Not Hispanic or Latino Asian alone,Total population Not Hispanic or Latino Native Hawaiian and Other Pacific Islander alone,Total population Not Hispanic or Latino Some Other Race alone,Total population Not Hispanic or Latino Two or More Races,Total population Not Hispanic or Latino Two or More Races Two races including Some Other Race,"Total population Not Hispanic or Latino Two or More Races Two races excluding Some Other Race, and three or more races","Citizen, 18 and over population","Citizen, 18 and over population Male","Citizen, 18 and over population Female"
0,69168,229,118,111,106.3,21,9,9,14,17,0,47,17,16,9,30,37,3,44.6,44,190,185,162,75,70,185,97,88,110.2,70,34,36,94.4,226,3,226,217,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,9,3,2,0,0,1,0,0,220,2,0,0,0,10,14,13,0,0,1,215,213,0,0,0,0,0,2,0,2,185,97,88
1,80002,"20,589","10,096","10,493",96.2,"1,134","1,197",819,"1,101","1,025","4,681","2,839","2,439","1,326","1,279","1,787",699,263,36.1,"3,734","17,264","16,855","16,238","3,413","2,749","16,855","8,184","8,671",94.4,"2,749","1,276","1,473",86.6,"18,292","2,297","18,292","17,049",140,9,0,0,0,0,267,61,36,53,41,21,18,37,0,0,0,0,0,827,"2,297",45,285,313,"1,582",16,0,"19,305",223,366,580,0,"2,443","4,943","4,379",62,68,434,"15,646","14,545",140,0,258,0,68,635,17,618,"15,830","7,626","8,204"

In [14]:
for col in acs_demo_housing.columns:
    print(col)

ZCTA
Total population
Total population Male
Total population Female
Total population Sex ratio (males per 100 females)
Total population Under 5 years
Total population 5 to 9 years
Total population 10 to 14 years
Total population 15 to 19 years
Total population 20 to 24 years
Total population 25 to 34 years
Total population 35 to 44 years
Total population 45 to 54 years
Total population 55 to 59 years
Total population 60 to 64 years
Total population 65 to 74 years
Total population 75 to 84 years
Total population 85 years and over
Total population Median age (years)
Total population Under 18 years
Total population 16 years and over
Total population 18 years and over
Total population 21 years and over
Total population 62 years and over
Total population 65 years and over
Total population 18 years and over.1
Total population 18 years and over Male
Total population 18 years and over Female
Total population 18 years and over Sex ratio (males per 100 females)
Total population 65 years and over.1
Total population 65 years and over Male
Total population 65 years and over Female
Total population 65 years and over Sex ratio (males per 100 females)
Total population One race
Total population Two or More Races
Total population One race.1
Total population One race White
Total population One race Black or African American
Total population One race American Indian and Alaska Native
Total population One race American Indian and Alaska Native Cherokee tribal grouping
Total population One race American Indian and Alaska Native Chippewa tribal grouping
Total population One race American Indian and Alaska Native Navajo tribal grouping
Total population One race American Indian and Alaska Native Sioux tribal grouping
Total population One race Asian
Total population One race Asian Asian Indian
Total population One race Asian Chinese
Total population One race Asian Filipino
Total population One race Asian Japanese
Total population One race Asian Korean
Total population One race Asian Vietnamese
Total population One race Asian Other Asian
Total population One race Native Hawaiian and Other Pacific Islander
Total population One race Native Hawaiian and Other Pacific Islander Chamorro
Total population One race Native Hawaiian and Other Pacific Islander Native Hawaiian
Total population One race Native Hawaiian and Other Pacific Islander Samoan
Total population One race Native Hawaiian and Other Pacific Islander Other Native Hawaiian and Other Pacific Islander
Total population One race Some Other Race
Total population Two or More Races.1
Total population Two or More Races White and Black or African American
Total population Two or More Races White and American Indian and Alaska Native
Total population Two or More Races White and Asian
Total population Two or More Races White and Some Other Race
Total population Two or More Races Black or African American and American Indian and Alaska Native
Total population Two or More Races Black or African American and Some Other Race
Total population White
Total population Black or African American
Total population American Indian and Alaska Native
Total population Asian
Total population Native Hawaiian and Other Pacific Islander
Total population Some Other Race
Total population Hispanic or Latino (of any race)
Total population Hispanic or Latino (of any race) Mexican
Total population Hispanic or Latino (of any race) Puerto Rican
Total population Hispanic or Latino (of any race) Cuban
Total population Hispanic or Latino (of any race) Other Hispanic or Latino
Total population Not Hispanic or Latino
Total population Not Hispanic or Latino White alone
Total population Not Hispanic or Latino Black or African American alone
Total population Not Hispanic or Latino American Indian and Alaska Native alone
Total population Not Hispanic or Latino Asian alone
Total population Not Hispanic or Latino Native Hawaiian and Other Pacific Islander alone
Total population Not Hispanic or Latino Some Other Race alone
Total population Not Hispanic or Latino Two or More Races
Total population Not Hispanic or Latino Two or More Races Two races including Some Other Race
Total population Not Hispanic or Latino Two or More Races Two races excluding Some Other Race, and three or more races
Citizen, 18 and over population
Citizen, 18 and over population Male
Citizen, 18 and over population Female

Fields of interest
- ZCTA
- Total population
- Total population Sex ratio (males per 100 females)
- Total population Median age (years)

In [15]:
acs_demo_housing_cols = ["ZCTA", 
                         "Total population", 
                         "Total population Sex ratio (males per 100 females)",
                         "Total population Median age (years)"
                        ]   
acs_demo_housing = acs_demo_housing[acs_demo_housing_cols]

In [16]:
acs_demo_housing.head()

,ZCTA,Total population,Total population Sex ratio (males per 100 females),Total population Median age (years)
0,69168,229,106.3,44.6
1,80002,"20,589",96.2,36.1
2,80003,"36,233",98.3,36.7
3,80004,"35,349",97.2,42.9
4,80005,"29,155",97.2,42.9

#### ACS - Econ

In [17]:
acs_econ.head(2)

,ZCTA,Population 16 years and over,Population 16 years and over In labor force,Population 16 years and over In labor force Civilian labor force,Population 16 years and over In labor force Civilian labor force Employed,Population 16 years and over In labor force Civilian labor force Unemployed,Population 16 years and over In labor force Armed Forces,Population 16 years and over Not in labor force,Civilian labor force,Civilian labor force Unemployment Rate,Females 16 years and over,Females 16 years and over In labor force,Females 16 years and over In labor force Civilian labor force,Females 16 years and over In labor force Civilian labor force Employed,Own children of the householder under 6 years,Own children of the householder under 6 years All parents in family in labor force,Own children of the householder 6 to 17 years,Own children of the householder 6 to 17 years All parents in family in labor force,Workers 16 years and over,"Workers 16 years and over Car, truck, or van -- drove alone","Workers 16 years and over Car, truck, or van -- carpooled",Workers 16 years and over Public transportation (excluding taxicab),Workers 16 years and over Walked,Workers 16 years and over Other means,Workers 16 years and over Worked from home,Workers 16 years and over Mean travel time to work (minutes),Civilian employed population 16 years and over,"Civilian employed population 16 years and over Management, business, science, and arts occupations",Civilian employed population 16 years and over Service occupations,Civilian employed population 16 years and over Sales and office occupations,"Civilian employed population 16 years and over Natural resources, construction, and maintenance occupations","Civilian employed population 16 years and over Production, transportation, and material moving occupations","Civilian employed population 16 years and over Agriculture, forestry, fishing and hunting, and mining",Civilian employed population 16 years and over Construction,Civilian employed population 16 years and over Manufacturing,Civilian employed population 16 years and over Wholesale trade,Civilian employed population 16 years and over Retail trade,"Civilian employed population 16 years and over Transportation and warehousing, and utilities",Civilian employed population 16 years and over Information,"Civilian employed population 16 years and over Finance and insurance, and real estate and rental and leasing","Civilian employed population 16 years and over Professional, scientific, and management, and administrative and waste management services","Civilian employed population 16 years and over Educational services, and health care and social assistance","Civilian employed population 16 years and over Arts, entertainment, and recreation, and accommodation and food services","Civilian employed population 16 years and over Other services, except public administration",Civilian employed population 16 years and over Public administration,Civilian employed population 16 years and over Private wage and salary workers,Civilian employed population 16 years and over Government workers,Civilian employed population 16 years and over Self-employed in own not incorporated business workers,Civilian employed population 16 years and over Unpaid family workers,Total households,"Total households Less than $10,000","Total households $10,000 to $14,999","Total households $15,000 to $24,999","Total households $25,000 to $34,999","Total households $35,000 to $49,999","Total households $50,000 to $74,999","Total households $75,000 to $99,999","Total households $100,000 to $149,999","Total households $150,000 to $199,999","Total households $200,000 or more",Total households Median household income (dollars),Total households Mean household income (dollars),Total households With earnings,Total households With earnings Mean earnings (dollars),Total households With Social Security,Total households With Social Security Mean Social Security income (dollars),Total households With retirement income,Total households With retirement income Mean retirement income (dollars),Total households With Supplemental Security Income,Total households With Supplemental Security Income Mean Supplemental Security Income (dollars),Total households With cash public assistance income,Total households With cash public assistance income Mean cash public assistance income (dollars),Total households With Food Stamp/SNAP benefits in the past 12 months,Families,"Families Less than $10,000","Families $10,000 to $14,999","Families $15,000 to $24,999","Families $25,000 to $34,999","Families $35,000 to $49,999","Families $50,000 to $74,999","Families $75,000 to $99,999","Families $100,000 to $149,999","Families $150,000 to $199,999","Families $200,000 or more",Families Median family income (dollars),Families Mean family income (dollars),Per capita income (dollars),Nonfamily households,Nonfamily households Median nonfamily income (dollars),Nonfamily households Mean nonfamily income (dollars),Median earnings for workers (dollars),"Median earnings for male full-time, year-round workers (dollars)","Median earnings for female full-time, year-round workers (dollars)",Civilian noninstitutionalized population,Civilian noninstitutionalized population With health insurance coverage,Civilian noninstitutionalized population With health insurance coverage With private health insurance,Civilian noninstitutionalized population With health insurance coverage With public coverage,Civilian noninstitutionalized population No health insurance coverage,Civilian noninstitutionalized population under 19 years,Civilian noninstitutionalized population under 19 years No health insurance coverage,Civilian noninstitutionalized population 19 to 64 years,Civilian noninstitutionalized population 19 to 64 years In labor force:,Civilian noninstitutionalized population 19 to 64 years In labor force: Employed:,Civilian noninstitutionalized population 19 to 64 years In labor force: Employed: With health insurance coverage,Civilian noninstitutionalized population 19 to 64 years In labor force: Employed: With health insurance coverage With private health insurance,Civilian noninstitutionalized population 19 to 64 years In labor force: Employed: With health insurance coverage With public coverage,Civilian noninstitutionalized population 19 to 64 years In labor force: Employed: No health insurance coverage,Civilian noninstitutionalized population 19 to 64 years In labor force: Unemployed:,Civilian noninstitutionalized population 19 to 64 years In labor force: Unemployed: With health insurance coverage,Civilian noninstitutionalized population 19 to 64 years In labor force: Unemployed: With health insurance coverage With private health insurance,Civilian noninstitutionalized population 19 to 64 years In labor force: Unemployed: With health insurance coverage With public coverage,Civilian noninstitutionalized population 19 to 64 years In labor force: Unemployed: No health insurance coverage,Civilian noninstitutionalized population 19 to 64 years Not in labor force:,Civilian noninstitutionalized population 19 to 64 years Not in labor force: With health insurance coverage,Civilian noninstitutionalized population 19 to 64 years Not in labor force: With health insurance coverage With private health insurance,Civilian noninstitutionalized population 19 to 64 years Not in labor force: With health insurance coverage With public coverage,Civilian noninstitutionalized population 19 to 64 years Not in labor force: No health insurance coverage,All families,All families With related children of the householder under 18 years,All families With related children of the householder under 18 years With related children of the householder under 5 years only,All families Married couple families,All families Married couple families With related children of the householder under 18 years,All families Married couple families With related children of the householder under 18 years With related children of the householder under 5 years only,"All families Families with female householder, no spouse present","All families Families with female householder, no spouse present With related children of the householder under 18 years","All families Families with female householder, no spouse present With related children of the householder under 18 years With related children of the householder under 5 years only",All people,All people Under 18 years,All people Under 18 years Related children of the householder under 18 years,All people Under 18 years Related children of the householder under 18 years Related children of the householder under 5 years,All people Under 18 years Related children of the householder under 18 years Related children of the householder 5 to 17 years,All people 18 years and over,All people 18 years and over 18 to 64 years,All people 18 years and over 65 years and over,All people People in families,All people Unrelated individuals 15 years and over
0,69168,190,98,98,91,7,0,92,98,(X),93,46,46,39,20,20,21,14,89,64,16,0,2,4,3,33.2,91,25,13,24,18,11,10,11,0,8,23,10,0,2,0,17,8,2,0,69,16,6,0,89,1,8,6,3,5,23,10,24,2,7,"74,250","98,626",55,"79,069",40,"24,190",28,"100,443",4,N,4,N,11,61,0,2,0,3,5,14,10,18,2,7,"95,417","121,702","38,908",28,-,"48,354","34,000","57,813","50,417",229,221,177,90,8,53,0,106,95,88,83,77,11,5,7,6,6,0,1,11,9,7,2,2,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
1,80002,"17,264","12,941","12,941","12,503",438,0,"4,323","12,941",(X),"8,822","6,363","6,363","6,190","1,379","1,012","2,205","1,609","12,192","8,520",793,260,126,188,"2,305",24.1,"12,503","5,850","2,014","2,450","1,025","1,164",83,"1,243","1,235",258,"1,045",807,221,936,"2,051","2,111","1,207",802,504,"10,316","1,120",932,135,"9,416",352,260,354,552,903,"1,515","1,493","1,940","1,170",877,"87,500","104,625","8,213","99,295","1,844","23,414","1,672","37,533",254,"13,041",195,"3,066",886,"4,946",141,71,164,260,355,628,753,972,897,705,"106,162","122,930","48,854","4,470","69,593","81,958","52,127","70,802","54,492","20,582","18,667","13,370","7,007","1,915","4,008",236,"13,830","12,070","11,682","10,592","9,185","1,652","1,090",388,279,84,195,109,"1,760","1,324",528,838,436,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)

In [18]:
acs_econ.shape

(530, 136)

In [19]:
for col in acs_econ.columns:
    print(col)

ZCTA
Population 16 years and over
Population 16 years and over In labor force
Population 16 years and over In labor force Civilian labor force
Population 16 years and over In labor force Civilian labor force Employed
Population 16 years and over In labor force Civilian labor force Unemployed
Population 16 years and over In labor force Armed Forces
Population 16 years and over Not in labor force
Civilian labor force
Civilian labor force Unemployment Rate
Females 16 years and over
Females 16 years and over In labor force
Females 16 years and over In labor force Civilian labor force
Females 16 years and over In labor force Civilian labor force Employed
Own children of the householder under 6 years
Own children of the householder under 6 years All parents in family in labor force
Own children of the householder 6 to 17 years
Own children of the householder 6 to 17 years All parents in family in labor force
Workers 16 years and over
Workers 16 years and over Car, truck, or van -- drove alone
Workers 16 years and over Car, truck, or van -- carpooled
Workers 16 years and over Public transportation (excluding taxicab)
Workers 16 years and over Walked
Workers 16 years and over Other means
Workers 16 years and over Worked from home
Workers 16 years and over Mean travel time to work (minutes)
Civilian employed population 16 years and over
Civilian employed population 16 years and over Management, business, science, and arts occupations
Civilian employed population 16 years and over Service occupations
Civilian employed population 16 years and over Sales and office occupations
Civilian employed population 16 years and over Natural resources, construction, and maintenance occupations
Civilian employed population 16 years and over Production, transportation, and material moving occupations
Civilian employed population 16 years and over Agriculture, forestry, fishing and hunting, and mining
Civilian employed population 16 years and over Construction
Civilian employed population 16 years and over Manufacturing
Civilian employed population 16 years and over Wholesale trade
Civilian employed population 16 years and over Retail trade
Civilian employed population 16 years and over Transportation and warehousing, and utilities
Civilian employed population 16 years and over Information
Civilian employed population 16 years and over Finance and insurance, and real estate and rental and leasing
Civilian employed population 16 years and over Professional, scientific, and management, and administrative and waste management services
Civilian employed population 16 years and over Educational services, and health care and social assistance
Civilian employed population 16 years and over Arts, entertainment, and recreation, and accommodation and food services
Civilian employed population 16 years and over Other services, except public administration
Civilian employed population 16 years and over Public administration
Civilian employed population 16 years and over Private wage and salary workers
Civilian employed population 16 years and over Government workers
Civilian employed population 16 years and over Self-employed in own not incorporated business workers
Civilian employed population 16 years and over Unpaid family workers
Total households
Total households Less than $10,000
Total households $10,000 to $14,999
Total households $15,000 to $24,999
Total households $25,000 to $34,999
Total households $35,000 to $49,999
Total households $50,000 to $74,999
Total households $75,000 to $99,999
Total households $100,000 to $149,999
Total households $150,000 to $199,999
Total households $200,000 or more
Total households Median household income (dollars)
Total households Mean household income (dollars)
Total households With earnings
Total households With earnings Mean earnings (dollars)
Total households With Social Security
Total households With Social Security Mean Social Security income (dollars)
Total households With retirement income
Total households With retirement income Mean retirement income (dollars)
Total households With Supplemental Security Income
Total households With Supplemental Security Income Mean Supplemental Security Income (dollars)
Total households With cash public assistance income
Total households With cash public assistance income Mean cash public assistance income (dollars)
Total households With Food Stamp/SNAP benefits in the past 12 months
Families
Families Less than $10,000
Families $10,000 to $14,999
Families $15,000 to $24,999
Families $25,000 to $34,999
Families $35,000 to $49,999
Families $50,000 to $74,999
Families $75,000 to $99,999
Families $100,000 to $149,999
Families $150,000 to $199,999
Families $200,000 or more
Families Median family income (dollars)
Families Mean family income (dollars)
Per capita income (dollars)
Nonfamily households
Nonfamily households Median nonfamily income (dollars)
Nonfamily households Mean nonfamily income (dollars)
Median earnings for workers (dollars)
Median earnings for male full-time, year-round workers (dollars)
Median earnings for female full-time, year-round workers (dollars)
Civilian noninstitutionalized population
Civilian noninstitutionalized population With health insurance coverage
Civilian noninstitutionalized population With health insurance coverage With private health insurance
Civilian noninstitutionalized population With health insurance coverage With public coverage
Civilian noninstitutionalized population No health insurance coverage
Civilian noninstitutionalized population under 19 years
Civilian noninstitutionalized population under 19 years No health insurance coverage
Civilian noninstitutionalized population 19 to 64 years
Civilian noninstitutionalized population 19 to 64 years In labor force:
Civilian noninstitutionalized population 19 to 64 years In labor force: Employed:
Civilian noninstitutionalized population 19 to 64 years In labor force: Employed: With health insurance coverage
Civilian noninstitutionalized population 19 to 64 years In labor force: Employed: With health insurance coverage With private health insurance
Civilian noninstitutionalized population 19 to 64 years In labor force: Employed: With health insurance coverage With public coverage
Civilian noninstitutionalized population 19 to 64 years In labor force: Employed: No health insurance coverage
Civilian noninstitutionalized population 19 to 64 years In labor force: Unemployed:
Civilian noninstitutionalized population 19 to 64 years In labor force: Unemployed: With health insurance coverage
Civilian noninstitutionalized population 19 to 64 years In labor force: Unemployed: With health insurance coverage With private health insurance
Civilian noninstitutionalized population 19 to 64 years In labor force: Unemployed: With health insurance coverage With public coverage
Civilian noninstitutionalized population 19 to 64 years In labor force: Unemployed: No health insurance coverage
Civilian noninstitutionalized population 19 to 64 years Not in labor force:
Civilian noninstitutionalized population 19 to 64 years Not in labor force: With health insurance coverage
Civilian noninstitutionalized population 19 to 64 years Not in labor force: With health insurance coverage With private health insurance
Civilian noninstitutionalized population 19 to 64 years Not in labor force: With health insurance coverage With public coverage
Civilian noninstitutionalized population 19 to 64 years Not in labor force: No health insurance coverage
All families
All families With related children of the householder under 18 years
All families With related children of the householder under 18 years With related children of the householder under 5 years only
All families Married couple families
All families Married couple families With related children of the householder under 18 years
All families Married couple families With related children of the householder under 18 years With related children of the householder under 5 years only
All families Families with female householder, no spouse present
All families Families with female householder, no spouse present With related children of the householder under 18 years
All families Families with female householder, no spouse present With related children of the householder under 18 years With related children of the householder under 5 years only
All people
All people Under 18 years
All people Under 18 years Related children of the householder under 18 years
All people Under 18 years Related children of the householder under 18 years Related children of the householder under 5 years
All people Under 18 years Related children of the householder under 18 years Related children of the householder 5 to 17 years
All people 18 years and over
All people 18 years and over 18 to 64 years
All people 18 years and over 65 years and over
All people People in families
All people Unrelated individuals 15 years and over

Fields of interest
- ZCTA
- Civilian employed population 16 years and over
- Per capita income (dollars)

In [20]:
acs_econ_cols = ["ZCTA", 
                 "Civilian employed population 16 years and over", 
                 "Per capita income (dollars)"
                ]   
acs_econ = acs_econ[acs_econ_cols]

In [21]:
acs_econ.head()

,ZCTA,Civilian employed population 16 years and over,Per capita income (dollars)
0,69168,91,"38,908"
1,80002,"12,503","48,854"
2,80003,"19,962","38,315"
3,80004,"19,289","49,033"
4,80005,"16,343","59,782"

#### ACS - Housing

In [22]:
acs_housing.head(2)

,ZCTA,Total housing units,Total housing units Occupied housing units,Total housing units Vacant housing units,Total housing units Homeowner vacancy rate,Total housing units Rental vacancy rate,"Total housing units 1-unit, detached","Total housing units 1-unit, attached",Total housing units 2 units,Total housing units 3 or 4 units,Total housing units 5 to 9 units,Total housing units 10 to 19 units,Total housing units 20 or more units,Total housing units Mobile home,"Total housing units Boat, RV, van, etc.",Total housing units Built 2020 or later,Total housing units Built 2010 to 2019,Total housing units Built 2000 to 2009,Total housing units Built 1990 to 1999,Total housing units Built 1980 to 1989,Total housing units Built 1970 to 1979,Total housing units Built 1960 to 1969,Total housing units Built 1950 to 1959,Total housing units Built 1940 to 1949,Total housing units Built 1939 or earlier,Total housing units 1 room,Total housing units 2 rooms,Total housing units 3 rooms,Total housing units 4 rooms,Total housing units 5 rooms,Total housing units 6 rooms,Total housing units 7 rooms,Total housing units 8 rooms,Total housing units 9 rooms or more,Total housing units Median rooms,Total housing units No bedroom,Total housing units 1 bedroom,Total housing units 2 bedrooms,Total housing units 3 bedrooms,Total housing units 4 bedrooms,Total housing units 5 or more bedrooms,Occupied housing units,Occupied housing units Owner-occupied,Occupied housing units Renter-occupied,Occupied housing units Average household size of owner-occupied unit,Occupied housing units Average household size of renter-occupied unit,Occupied housing units Moved in 2021 or later,Occupied housing units Moved in 2018 to 2020,Occupied housing units Moved in 2010 to 2017,Occupied housing units Moved in 2000 to 2009,Occupied housing units Moved in 1990 to 1999,Occupied housing units Moved in 1989 and earlier,Occupied housing units No vehicles available,Occupied housing units 1 vehicle available,Occupied housing units 2 vehicles available,Occupied housing units 3 or more vehicles available,Occupied housing units Utility gas,"Occupied housing units Bottled, tank, or LP gas",Occupied housing units Electricity,"Occupied housing units Fuel oil, kerosene, etc.",Occupied housing units Coal or coke,Occupied housing units Wood,Occupied housing units Solar energy,Occupied housing units Other fuel,Occupied housing units No fuel used,Occupied housing units Lacking complete plumbing facilities,Occupied housing units Lacking complete kitchen facilities,Occupied housing units No telephone service available,Occupied housing units 1.00 or less,Occupied housing units 1.01 to 1.50,Occupied housing units 1.51 or more,Owner-occupied units,"Owner-occupied units Less than $50,000","Owner-occupied units $50,000 to $99,999","Owner-occupied units $100,000 to $149,999","Owner-occupied units $150,000 to $199,999","Owner-occupied units $200,000 to $299,999","Owner-occupied units $300,000 to $499,999","Owner-occupied units $500,000 to $999,999","Owner-occupied units $1,000,000 or more",Owner-occupied units Median (dollars),Owner-occupied units Housing units with a mortgage,Owner-occupied units Housing units without a mortgage,Housing units with a mortgage,Housing units with a mortgage Less than $500,Housing units with a mortgage $500 to $999,"Housing units with a mortgage $1,000 to $1,499","Housing units with a mortgage $1,500 to $1,999","Housing units with a mortgage $2,000 to $2,499","Housing units with a mortgage $2,500 to $2,999","Housing units with a mortgage $3,000 or more",Housing units with a mortgage Median (dollars),Housing units without a mortgage,Housing units without a mortgage Less than $250,Housing units without a mortgage $250 to $399,Housing units without a mortgage $400 to $599,Housing units without a mortgage $600 to $799,Housing units without a mortgage $800 to $999,"Housing units without a mortgage $1,000 or more",Housing units without a mortgage Median (dollars),Housing units with a mortgage (excluding units where SMOCAPI cannot be computed),Housing units with a mortgage (excluding units where SMOCAPI cannot be computed) Less than 20.0 percent,Housing units with a mortgage (excluding units where SMOCAPI cannot be computed) 20.0 to 24.9 percent,Housing units with a mortgage (excluding units where SMOCAPI cannot be computed) 25.0 to 29.9 percent,Housing units with a mortgage (excluding units where SMOCAPI cannot be computed) 30.0 to 34.9 percent,Housing units with a mortgage (excluding units where SMOCAPI cannot be computed) 35.0 percent or more,Housing units with a mortgage (excluding units where SMOCAPI cannot be computed) Not computed,Housing unit without a mortgage (excluding units where SMOCAPI cannot be computed),Housing unit without a mortgage (excluding units where SMOCAPI cannot be computed) Less than 10.0 percent,Housing unit without a mortgage (excluding units where SMOCAPI cannot be computed) 10.0 to 14.9 percent,Housing unit without a mortgage (excluding units where SMOCAPI cannot be computed) 15.0 to 19.9 percent,Housing unit without a mortgage (excluding units where SMOCAPI cannot be computed) 20.0 to 24.9 percent,Housing unit without a mortgage (excluding units where SMOCAPI cannot be computed) 25.0 to 29.9 percent,Housing unit without a mortgage (excluding units where SMOCAPI cannot be computed) 30.0 to 34.9 percent,Housing unit without a mortgage (excluding units where SMOCAPI cannot be computed) 35.0 percent or more,Housing unit without a mortgage (excluding units where SMOCAPI cannot be computed) Not computed,Occupied units paying rent,Occupied units paying rent Less than $500,Occupied units paying rent $500 to $999,"Occupied units paying rent $1,000 to $1,499","Occupied units paying rent $1,500 to $1,999","Occupied units paying rent $2,000 to $2,499","Occupied units paying rent $2,500 to $2,999","Occupied units paying rent $3,000 or more",Occupied units paying rent Median (dollars),Occupied units paying rent No rent paid,Occupied units paying rent (excluding units where GRAPI cannot be computed),Occupied units paying rent (excluding units where GRAPI cannot be computed) Less than 15.0 percent,Occupied units paying rent (excluding units where GRAPI cannot be computed) 15.0 to 19.9 percent,Occupied units paying rent (excluding units where GRAPI cannot be computed) 20.0 to 24.9 percent,Occupied units paying rent (excluding units where GRAPI cannot be computed) 25.0 to 29.9 percent,Occupied units paying rent (excluding units where GRAPI cannot be computed) 30.0 to 34.9 percent,Occupied units paying rent (excluding units where GRAPI cannot be computed) 35.0 percent or more,Occupied units paying rent (excluding units where GRAPI cannot be computed) Not computed
0,69168,114,89,25,0.0,0.0,111,2,0,0,0,0,0,1,0,0,0,0,0,16,19,5,9,23,42,0,0,0,20,16,25,5,12,36,6.3,0,6,37,41,18,12,89,76,13,2.47,3.15,5,14,37,11,5,17,0,21,35,33,59,12,11,7,0,0,0,0,0,0,0,0,86,3,0,76,20,31,10,3,12,0,0,0,"74,300",15,61,15,0,11,3,1,0,0,0,879,61,16,15,20,8,2,0,396,15,14,0,0,0,1,0,61,44,6,4,2,0,0,5,0,13,0,11,0,2,0,0,0,890,0,13,5,0,0,2,0,6,0
1,80002,"9,789","9,416",373,2.0,2.4,"4,349",798,399,354,418,"1,090","1,721",660,0,13,"1,421","1,884",588,661,"1,791",842,"2,100",135,354,123,494,"1,286","2,050","1,865","1,587",553,579,"1,252",5.0,123,"1,584","3,749","2,609","1,424",300,"9,416","4,671","4,745",2.28,2.08,742,"2,905","2,918","1,473",551,827,287,"3,551","3,630","1,948","5,996",102,"3,209",33,0,0,28,11,37,18,18,99,"9,219",96,101,"4,671",297,36,7,11,440,"1,680","2,054",146,"486,600","3,301","1,370","3,301",10,384,477,806,652,684,288,"1,987","1,370",43,194,479,212,197,245,579,"3,301","1,729",530,510,78,454,0,"1,367",654,334,94,113,43,50,79,3,"4,696",141,254,"1,462","1,765",567,371,136,"1,639",49,"4,670",716,665,653,540,467,"1,629",75

In [23]:
acs_housing.shape

(530, 134)

In [24]:
for col in acs_housing.columns:
    print(col)

ZCTA
Total housing units
Total housing units Occupied housing units
Total housing units Vacant housing units
Total housing units Homeowner vacancy rate
Total housing units Rental vacancy rate
Total housing units 1-unit, detached
Total housing units 1-unit, attached
Total housing units 2 units
Total housing units 3 or 4 units
Total housing units 5 to 9 units
Total housing units 10 to 19 units
Total housing units 20 or more units
Total housing units Mobile home
Total housing units Boat, RV, van, etc.
Total housing units Built 2020 or later
Total housing units Built 2010 to 2019
Total housing units Built 2000 to 2009
Total housing units Built 1990 to 1999
Total housing units Built 1980 to 1989
Total housing units Built 1970 to 1979
Total housing units Built 1960 to 1969
Total housing units Built 1950 to 1959
Total housing units Built 1940 to 1949
Total housing units Built 1939 or earlier
Total housing units 1 room
Total housing units 2 rooms
Total housing units 3 rooms
Total housing units 4 rooms
Total housing units 5 rooms
Total housing units 6 rooms
Total housing units 7 rooms
Total housing units 8 rooms
Total housing units 9 rooms or more
Total housing units Median rooms
Total housing units No bedroom
Total housing units 1 bedroom
Total housing units 2 bedrooms
Total housing units 3 bedrooms
Total housing units 4 bedrooms
Total housing units 5 or more bedrooms
Occupied housing units
Occupied housing units Owner-occupied
Occupied housing units Renter-occupied
Occupied housing units Average household size of owner-occupied unit
Occupied housing units Average household size of renter-occupied unit
Occupied housing units Moved in 2021 or later
Occupied housing units Moved in 2018 to 2020
Occupied housing units Moved in 2010 to 2017
Occupied housing units Moved in 2000 to 2009
Occupied housing units Moved in 1990 to 1999
Occupied housing units Moved in 1989 and earlier
Occupied housing units No vehicles available
Occupied housing units 1 vehicle available
Occupied housing units 2 vehicles available
Occupied housing units 3 or more vehicles available
Occupied housing units Utility gas
Occupied housing units Bottled, tank, or LP gas
Occupied housing units Electricity
Occupied housing units Fuel oil, kerosene, etc.
Occupied housing units Coal or coke
Occupied housing units Wood
Occupied housing units Solar energy
Occupied housing units Other fuel
Occupied housing units No fuel used
Occupied housing units Lacking complete plumbing facilities
Occupied housing units Lacking complete kitchen facilities
Occupied housing units No telephone service available
Occupied housing units 1.00 or less
Occupied housing units 1.01 to 1.50
Occupied housing units 1.51 or more
Owner-occupied units
Owner-occupied units Less than $50,000
Owner-occupied units $50,000 to $99,999
Owner-occupied units $100,000 to $149,999
Owner-occupied units $150,000 to $199,999
Owner-occupied units $200,000 to $299,999
Owner-occupied units $300,000 to $499,999
Owner-occupied units $500,000 to $999,999
Owner-occupied units $1,000,000 or more
Owner-occupied units Median (dollars)
Owner-occupied units Housing units with a mortgage
Owner-occupied units Housing units without a mortgage
Housing units with a mortgage
Housing units with a mortgage Less than $500
Housing units with a mortgage $500 to $999
Housing units with a mortgage $1,000 to $1,499
Housing units with a mortgage $1,500 to $1,999
Housing units with a mortgage $2,000 to $2,499
Housing units with a mortgage $2,500 to $2,999
Housing units with a mortgage $3,000 or more
Housing units with a mortgage Median (dollars)
Housing units without a mortgage
Housing units without a mortgage Less than $250
Housing units without a mortgage $250 to $399
Housing units without a mortgage $400 to $599
Housing units without a mortgage $600 to $799
Housing units without a mortgage $800 to $999
Housing units without a mortgage $1,000 or more
Housing units without a mortgage Median (dollars)
Housing units with a mortgage (excluding units where SMOCAPI cannot be computed)
Housing units with a mortgage (excluding units where SMOCAPI cannot be computed) Less than 20.0 percent
Housing units with a mortgage (excluding units where SMOCAPI cannot be computed) 20.0 to 24.9 percent
Housing units with a mortgage (excluding units where SMOCAPI cannot be computed) 25.0 to 29.9 percent
Housing units with a mortgage (excluding units where SMOCAPI cannot be computed) 30.0 to 34.9 percent
Housing units with a mortgage (excluding units where SMOCAPI cannot be computed) 35.0 percent or more
Housing units with a mortgage (excluding units where SMOCAPI cannot be computed) Not computed
Housing unit without a mortgage (excluding units where SMOCAPI cannot be computed)
Housing unit without a mortgage (excluding units where SMOCAPI cannot be computed) Less than 10.0 percent
Housing unit without a mortgage (excluding units where SMOCAPI cannot be computed) 10.0 to 14.9 percent
Housing unit without a mortgage (excluding units where SMOCAPI cannot be computed) 15.0 to 19.9 percent
Housing unit without a mortgage (excluding units where SMOCAPI cannot be computed) 20.0 to 24.9 percent
Housing unit without a mortgage (excluding units where SMOCAPI cannot be computed) 25.0 to 29.9 percent
Housing unit without a mortgage (excluding units where SMOCAPI cannot be computed) 30.0 to 34.9 percent
Housing unit without a mortgage (excluding units where SMOCAPI cannot be computed) 35.0 percent or more
Housing unit without a mortgage (excluding units where SMOCAPI cannot be computed) Not computed
Occupied units paying rent
Occupied units paying rent Less than $500
Occupied units paying rent $500 to $999
Occupied units paying rent $1,000 to $1,499
Occupied units paying rent $1,500 to $1,999
Occupied units paying rent $2,000 to $2,499
Occupied units paying rent $2,500 to $2,999
Occupied units paying rent $3,000 or more
Occupied units paying rent Median (dollars)
Occupied units paying rent No rent paid
Occupied units paying rent (excluding units where GRAPI cannot be computed)
Occupied units paying rent (excluding units where GRAPI cannot be computed) Less than 15.0 percent
Occupied units paying rent (excluding units where GRAPI cannot be computed) 15.0 to 19.9 percent
Occupied units paying rent (excluding units where GRAPI cannot be computed) 20.0 to 24.9 percent
Occupied units paying rent (excluding units where GRAPI cannot be computed) 25.0 to 29.9 percent
Occupied units paying rent (excluding units where GRAPI cannot be computed) 30.0 to 34.9 percent
Occupied units paying rent (excluding units where GRAPI cannot be computed) 35.0 percent or more
Occupied units paying rent (excluding units where GRAPI cannot be computed) Not computed

Fields of interest
- ZCTA
- Occupied units paying rent Median (dollars)

In [25]:
acs_housing_cols = ["ZCTA", 
                    "Occupied units paying rent Median (dollars)"
                   ]   
acs_housing = acs_housing[acs_housing_cols]

In [26]:
acs_housing.head()

    ZCTA Occupied units paying rent Median (dollars)
0  69168                                         890
1  80002                                       1,639
2  80003                                       1,625
3  80004                                       1,651
4  80005                                       1,980

#### ACS - Social

In [27]:
acs_social.head(2)

,ZCTA,Total households,Total households Married-couple household,Total households Married-couple household With children of the householder under 18 years,Total households Cohabiting couple household,Total households Cohabiting couple household With children of the householder under 18 years,"Total households Male householder, no spouse/partner present","Total households Male householder, no spouse/partner present With children of the householder under 18 years","Total households Male householder, no spouse/partner present Householder living alone","Total households Male householder, no spouse/partner present Householder living alone 65 years and over","Total households Female householder, no spouse/partner present","Total households Female householder, no spouse/partner present With children of the householder under 18 years","Total households Female householder, no spouse/partner present Householder living alone","Total households Female householder, no spouse/partner present Householder living alone 65 years and over",Total households Households with one or more people under 18 years,Total households Households with one or more people 65 years and over,Total households Average household size,Total households Average family size,Population in households,Population in households Householder,Population in households Spouse,Population in households Unmarried partner,Population in households Child,Population in households Other relatives,Population in households Other nonrelatives,Males 15 years and over,Males 15 years and over Never married,"Males 15 years and over Now married, except separated",Males 15 years and over Separated,Males 15 years and over Widowed,Males 15 years and over Divorced,Females 15 years and over,Females 15 years and over Never married,"Females 15 years and over Now married, except separated",Females 15 years and over Separated,Females 15 years and over Widowed,Females 15 years and over Divorced,Number of women 15 to 50 years old who had a birth in the past 12 months,"Number of women 15 to 50 years old who had a birth in the past 12 months Unmarried women (widowed, divorced, and never married)","Number of women 15 to 50 years old who had a birth in the past 12 months Unmarried women (widowed, divorced, and never married) Per 1,000 unmarried women","Number of women 15 to 50 years old who had a birth in the past 12 months Per 1,000 women 15 to 50 years old","Number of women 15 to 50 years old who had a birth in the past 12 months Per 1,000 women 15 to 19 years old","Number of women 15 to 50 years old who had a birth in the past 12 months Per 1,000 women 20 to 34 years old","Number of women 15 to 50 years old who had a birth in the past 12 months Per 1,000 women 35 to 50 years old",Number of grandparents living with own grandchildren under 18 years,Number of grandparents living with own grandchildren under 18 years Grandparents responsible for grandchildren,Number of grandparents living with own grandchildren under 18 years Years responsible for grandchildren Less than 1 year,Number of grandparents living with own grandchildren under 18 years Years responsible for grandchildren 1 or 2 years,Number of grandparents living with own grandchildren under 18 years Years responsible for grandchildren 3 or 4 years,Number of grandparents living with own grandchildren under 18 years Years responsible for grandchildren 5 or more years,Number of grandparents responsible for own grandchildren under 18 years,Number of grandparents responsible for own grandchildren under 18 years Who are female,Number of grandparents responsible for own grandchildren under 18 years Who are married,Population 3 years and over enrolled in school,"Population 3 years and over enrolled in school Nursery school, preschool",Population 3 years and over enrolled in school Kindergarten,Population 3 years and over enrolled in school Elementary school (grades 1-8),Population 3 years and over enrolled in school High school (grades 9-12),Population 3 years and over enrolled in school College or graduate school,Population 25 years and over,Population 25 years and over Less than 9th grade,"Population 25 years and over 9th to 12th grade, no diploma",Population 25 years and over High school graduate (includes equivalency),"Population 25 years and over Some college, no degree",Population 25 years and over Associate's degree,Population 25 years and over Bachelor's degree,Population 25 years and over Graduate or professional degree,Population 25 years and over High school graduate or higher,Population 25 years and over Bachelor's degree or higher,Civilian population 18 years and over,Civilian population 18 years and over Civilian veterans,Total Civilian Noninstitutionalized Population,Total Civilian Noninstitutionalized Population With a disability,Under 18 years,Under 18 years With a disability,18 to 64 years,18 to 64 years With a disability,65 years and over,65 years and over With a disability,Population 1 year and over,Population 1 year and over Same house,Population 1 year and over Different house (in the U.S. or abroad),Population 1 year and over Different house (in the U.S. or abroad) Different house in the U.S.,Population 1 year and over Different house (in the U.S. or abroad) Different house in the U.S. Same county,Population 1 year and over Different house (in the U.S. or abroad) Different house in the U.S. Different county,Population 1 year and over Different house (in the U.S. or abroad) Different house in the U.S. Different county Same state,Population 1 year and over Different house (in the U.S. or abroad) Different house in the U.S. Different county Different state,Population 1 year and over Different house (in the U.S. or abroad) Abroad,Total population,Total population Native,Total population Native Born in United States,Total population Native Born in United States State of residence,Total population Native Born in United States Different state,"Total population Native Born in Puerto Rico, U.S. Island areas, or born abroad to American parent(s)",Total population Foreign born,Foreign-born population,Foreign-born population Naturalized U.S. citizen,Foreign-born population Not a U.S. citizen,Population born outside the United States,Population born outside the United States Native,Population born outside the United States Native Entered 2010 or later,Population born outside the United States Native Entered before 2010,Population born outside the United States Foreign born,Population born outside the United States Foreign born Entered 2010 or later,Population born outside the United States Foreign born Entered before 2010,"Foreign-born population, excluding population born at sea","Foreign-born population, excluding population born at sea Europe","Foreign-born population, excluding population born at sea Asia","Foreign-born population, excluding population born at sea Africa","Foreign-born population, excluding population born at sea Oceania","Foreign-born population, excluding population born at sea Latin America","Foreign-born population, excluding population born at sea Northern America",Population 5 years and over,Population 5 years and over English only,Population 5 years and over Language other than English,"Population 5 years and over Language other than English Speak English less than ""very well""",Population 5 years and over Spanish,"Population 5 years and over Spanish Speak English less than ""very well""",Population 5 years and over Other Indo-European languages,"Population 5 years and over Other Indo-European languages Speak English less than ""very well""",Population 5 years and over Asian and Pacific Islander languages,"Population 5 years and over Asian and Pacific Islander languages Speak English less than ""very well""",Population 5 years and over Other languages,"Population 5 years and over Other languages Speak English less than ""very well""",Total population American,Total population Arab,Total population Czech,Total population Danish,Total population Dutch,Total population English,Total population French (except Basque),Total population French Canadian,Total population German,Total population Greek,Total population Hungarian,Total population Irish,Total population Italian,Total population Lithuanian,Total population Norwegian,Total population Polish,Total population Portuguese,Total population Russian,Total population Scotch-Irish,Total population Scottish,Total population Slovak,Total population Subsaharan African,Total population Swedish,Total population Swiss,Total population Ukrainian,Total population Welsh,Total population West Indian (excluding Hispanic origin groups),Total households With a computer,Total households With a broadband Internet subscription
0,69168,89,58,20,8,0,8,0,5,5,15,0,15,10,22,44,2.57,3.15,229,89,52,9,70,9,0,97,23,57,0,3,14,93,16,53,1,8,15,0,0,0,0,0,0,0,3,3,0,0,3,0,3,1,3,41,8,0,15,12,6,159,0,8,45,41,14,46,5,151,51,185,27,229,37,44,0,115,7,70,30,229,216,13,13,11,2,0,2,0,229,229,229,112,117,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,208,193,15,6,15,6,0,0,0,0,0,0,30,0,0,16,1,37,1,0,74,4,0,53,6,0,0,3,0,0,0,5,0,0,3,0,0,0,0,88,81
1,80002,"9,416","3,489","1,201","1,087",130,"1,967",173,"1,432",317,"2,873",380,"1,708",442,"2,166","2,018",2.18,2.85,"20,506","9,416","3,332","1,096","4,827","1,009",826,"8,583","3,581","3,739",54,163,"1,046","8,856","3,389","3,465",197,604,"1,201",196,39,11,37,0,57,15,356,92,6,31,12,43,92,68,61,"3,891",179,90,"1,581",756,"1,285","15,313",462,"1,113","3,636","2,307","1,249","4,024","2,522","13,738","6,546","16,855","1,157","20,582","2,262","3,733",80,"14,105","1,237","2,744",945,"20,366","16,585","3,781","3,704","1,593","2,111","1,461",650,77,"20,589","19,149","18,911","10,355","8,556",238,"1,440","1,440",405,"1,035","1,678",238,0,238,"1,440",472,968,"1,440",251,251,42,0,891,5,"19,455","16,272","3,183",728,"2,560",612,411,107,138,0,74,9,325,101,250,220,146,"2,603",575,61,"4,107",183,38,"2,418","1,524",0,397,624,47,396,101,446,41,90,397,19,95,8,0,"8,880","8,551"

In [28]:
acs_social.shape

(530, 153)

In [29]:
for col in acs_social.columns:
    print(col)

ZCTA
Total households
Total households Married-couple household
Total households Married-couple household With children of the householder under 18 years
Total households Cohabiting couple household
Total households Cohabiting couple household With children of the householder under 18 years
Total households Male householder, no spouse/partner present
Total households Male householder, no spouse/partner present With children of the householder under 18 years
Total households Male householder, no spouse/partner present Householder living alone
Total households Male householder, no spouse/partner present Householder living alone 65 years and over
Total households Female householder, no spouse/partner present
Total households Female householder, no spouse/partner present With children of the householder under 18 years
Total households Female householder, no spouse/partner present Householder living alone
Total households Female householder, no spouse/partner present Householder living alone 65 years and over
Total households Households with one or more people under 18 years
Total households Households with one or more people 65 years and over
Total households Average household size
Total households Average family size
Population in households
Population in households Householder
Population in households Spouse
Population in households Unmarried partner
Population in households Child
Population in households Other relatives
Population in households Other nonrelatives
Males 15 years and over
Males 15 years and over Never married
Males 15 years and over Now married, except separated
Males 15 years and over Separated
Males 15 years and over Widowed
Males 15 years and over Divorced
Females 15 years and over
Females 15 years and over Never married
Females 15 years and over Now married, except separated
Females 15 years and over Separated
Females 15 years and over Widowed
Females 15 years and over Divorced
Number of women 15 to 50 years old who had a birth in the past 12 months
Number of women 15 to 50 years old who had a birth in the past 12 months Unmarried women (widowed, divorced, and never married)
Number of women 15 to 50 years old who had a birth in the past 12 months Unmarried women (widowed, divorced, and never married) Per 1,000 unmarried women
Number of women 15 to 50 years old who had a birth in the past 12 months Per 1,000 women 15 to 50 years old
Number of women 15 to 50 years old who had a birth in the past 12 months Per 1,000 women 15 to 19 years old
Number of women 15 to 50 years old who had a birth in the past 12 months Per 1,000 women 20 to 34 years old
Number of women 15 to 50 years old who had a birth in the past 12 months Per 1,000 women 35 to 50 years old
Number of grandparents living with own grandchildren under 18 years
Number of grandparents living with own grandchildren under 18 years Grandparents responsible for grandchildren
Number of grandparents living with own grandchildren under 18 years Years responsible for grandchildren Less than 1 year
Number of grandparents living with own grandchildren under 18 years Years responsible for grandchildren 1 or 2 years
Number of grandparents living with own grandchildren under 18 years Years responsible for grandchildren 3 or 4 years
Number of grandparents living with own grandchildren under 18 years Years responsible for grandchildren 5 or more years
Number of grandparents responsible for own grandchildren under 18 years
Number of grandparents responsible for own grandchildren under 18 years Who are female
Number of grandparents responsible for own grandchildren under 18 years Who are married
Population 3 years and over enrolled in school
Population 3 years and over enrolled in school Nursery school, preschool
Population 3 years and over enrolled in school Kindergarten
Population 3 years and over enrolled in school Elementary school (grades 1-8)
Population 3 years and over enrolled in school High school (grades 9-12)
Population 3 years and over enrolled in school College or graduate school
Population 25 years and over
Population 25 years and over Less than 9th grade
Population 25 years and over 9th to 12th grade, no diploma
Population 25 years and over High school graduate (includes equivalency)
Population 25 years and over Some college, no degree
Population 25 years and over Associate's degree
Population 25 years and over Bachelor's degree
Population 25 years and over Graduate or professional degree
Population 25 years and over High school graduate or higher
Population 25 years and over Bachelor's degree or higher
Civilian population 18 years and over
Civilian population 18 years and over Civilian veterans
Total Civilian Noninstitutionalized Population
Total Civilian Noninstitutionalized Population With a disability
Under 18 years
Under 18 years With a disability
18 to 64 years
18 to 64 years With a disability
65 years and over
65 years and over With a disability
Population 1 year and over
Population 1 year and over Same house
Population 1 year and over Different house (in the U.S. or abroad)
Population 1 year and over Different house (in the U.S. or abroad) Different house in the U.S.
Population 1 year and over Different house (in the U.S. or abroad) Different house in the U.S. Same county
Population 1 year and over Different house (in the U.S. or abroad) Different house in the U.S. Different county
Population 1 year and over Different house (in the U.S. or abroad) Different house in the U.S. Different county Same state
Population 1 year and over Different house (in the U.S. or abroad) Different house in the U.S. Different county Different state
Population 1 year and over Different house (in the U.S. or abroad) Abroad
Total population
Total population Native
Total population Native Born in United States
Total population Native Born in United States State of residence
Total population Native Born in United States Different state
Total population Native Born in Puerto Rico, U.S. Island areas, or born abroad to American parent(s)
Total population Foreign born
Foreign-born population
Foreign-born population Naturalized U.S. citizen
Foreign-born population Not a U.S. citizen
Population born outside the United States
Population born outside the United States Native
Population born outside the United States Native Entered 2010 or later
Population born outside the United States Native Entered before 2010
Population born outside the United States Foreign born
Population born outside the United States Foreign born Entered 2010 or later
Population born outside the United States Foreign born Entered before 2010
Foreign-born population, excluding population born at sea
Foreign-born population, excluding population born at sea Europe
Foreign-born population, excluding population born at sea Asia
Foreign-born population, excluding population born at sea Africa
Foreign-born population, excluding population born at sea Oceania
Foreign-born population, excluding population born at sea Latin America
Foreign-born population, excluding population born at sea Northern America
Population 5 years and over
Population 5 years and over English only
Population 5 years and over Language other than English
Population 5 years and over Language other than English Speak English less than "very well"
Population 5 years and over Spanish
Population 5 years and over Spanish Speak English less than "very well"
Population 5 years and over Other Indo-European languages
Population 5 years and over Other Indo-European languages Speak English less than "very well"
Population 5 years and over Asian and Pacific Islander languages
Population 5 years and over Asian and Pacific Islander languages Speak English less than "very well"
Population 5 years and over Other languages
Population 5 years and over Other languages Speak English less than "very well"
Total population American
Total population Arab
Total population Czech
Total population Danish
Total population Dutch
Total population English
Total population French (except Basque)
Total population French Canadian
Total population German
Total population Greek
Total population Hungarian
Total population Irish
Total population Italian
Total population Lithuanian
Total population Norwegian
Total population Polish
Total population Portuguese
Total population Russian
Total population Scotch-Irish
Total population Scottish
Total population Slovak
Total population Subsaharan African
Total population Swedish
Total population Swiss
Total population Ukrainian
Total population Welsh
Total population West Indian (excluding Hispanic origin groups)
Total households With a computer
Total households With a broadband Internet subscription

Fields of interest
- ZCTA
- Total households Average household size
- Population 3 years and over enrolled in school College or graduate school
- Population 25 years and over Bachelor's degree
- Population 1 year and over Same house

In [30]:
acs_social_cols = ["ZCTA", 
                   "Total households Average household size",
                   "Population 3 years and over enrolled in school College or graduate school",
                   "Population 25 years and over Bachelor's degree",
                   "Population 1 year and over Same house"
                   ]   

acs_social = acs_social[acs_social_cols]

In [31]:
acs_social.head()

,ZCTA,Total households Average household size,Population 3 years and over enrolled in school College or graduate school,Population 25 years and over Bachelor's degree,Population 1 year and over Same house
0,69168,2.57,6,46,216
1,80002,2.18,"1,285","4,024","16,585"
2,80003,2.53,"2,020","5,606","30,156"
3,80004,2.36,"1,560","7,287","30,436"
4,80005,2.57,"1,372","7,436","26,539"

#### Yelp Reviews

In [32]:
yelp.head(2)

     zip  total_stores  total_reviews  review_weighted_avg
0  80134             7             85                2.532
1  80013             5            130                2.800

In [33]:
yelp.shape

(299, 4)

###   Combine the data sources

In [34]:
acs_combined = pd.merge(acs_demo_housing, acs_housing, on="ZCTA", how="inner")
acs_combined = pd.merge(acs_combined, acs_econ, on="ZCTA", how="inner")
acs_combined = pd.merge(acs_combined, acs_social, on="ZCTA", how="inner")

In [35]:
acs_combined.rename(columns={'ZCTA': 'zip'}, inplace=True)

In [36]:
acs_yelp_combined = pd.merge(acs_combined, yelp, on="zip", how="inner")

In [37]:
acs_yelp_combined.shape

(299, 14)

In [38]:
acs_yelp_combined.head()

,zip,Total population,Total population Sex ratio (males per 100 females),Total population Median age (years),Occupied units paying rent Median (dollars),Civilian employed population 16 years and over,Per capita income (dollars),Total households Average household size,Population 3 years and over enrolled in school College or graduate school,Population 25 years and over Bachelor's degree,Population 1 year and over Same house,total_stores,total_reviews,review_weighted_avg
0,80002,"20,589",96.2,36.1,"1,639","12,503","48,854",2.18,"1,285","4,024","16,585",2,54,3.359
1,80003,"36,233",98.3,36.7,"1,625","19,962","38,315",2.53,"2,020","5,606","30,156",6,95,2.840
2,80004,"35,349",97.2,42.9,"1,651","19,289","49,033",2.36,"1,560","7,287","30,436",1,46,2.800
3,80005,"29,155",97.2,42.9,"1,980","16,343","59,782",2.57,"1,372","7,436","26,539",0,0,0.000
4,80007,"17,641",105.1,39.5,"2,574","9,521","69,581",2.83,844,"4,753","14,739",3,21,3.100

###   Rename the fields

In [39]:
for col in acs_yelp_combined.columns:
    print(col)

zip
Total population
Total population Sex ratio (males per 100 females)
Total population Median age (years)
Occupied units paying rent Median (dollars)
Civilian employed population 16 years and over
Per capita income (dollars)
Total households Average household size
Population 3 years and over enrolled in school College or graduate school
Population 25 years and over Bachelor's degree
Population 1 year and over Same house
total_stores
total_reviews
review_weighted_avg

In [40]:
new_col_names = {"Total population": "total_pop",
                 "Total population Sex ratio (males per 100 females)": "males_per_100_females",
                 'Total population Median age (years)': 'median_age',
                 'Occupied units paying rent Median (dollars)': 'median_rent',
                 "Civilian employed population 16 years and over": 'total_employed',
                 'Per capita income (dollars)': 'per_capita_income',
                 "Total households Average household size": 'avg_household_size',
                 "Population 3 years and over enrolled in school College or graduate school" : "enrolled_in_college",
                 "Population 25 years and over Bachelor's degree": "total_bachelors_degree",
                 "Population 1 year and over Same house": "total_same_residence",
                 'total_stores': 'total_starbucks_locations',
                 'total_reviews': 'total_starbucks_reviews',
                 'review_weighted_avg': 'weighted_avg_starbucks_ratings'}

In [41]:
acs_yelp_combined.rename(columns=new_col_names, inplace=True)

In [42]:
acs_yelp_combined.head(2)

,zip,total_pop,males_per_100_females,median_age,median_rent,total_employed,per_capita_income,avg_household_size,enrolled_in_college,total_bachelors_degree,total_same_residence,total_starbucks_locations,total_starbucks_reviews,weighted_avg_starbucks_ratings
0,80002,"20,589",96.2,36.1,"1,639","12,503","48,854",2.18,"1,285","4,024","16,585",2,54,3.359
1,80003,"36,233",98.3,36.7,"1,625","19,962","38,315",2.53,"2,020","5,606","30,156",6,95,2.840

###   Inspect the data for potential issues

In [43]:
acs_yelp_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   zip                             299 non-null    int64
 1   total_pop                       299 non-null    object
 2   males_per_100_females           299 non-null    object
 3   median_age                      299 non-null    object
 4   median_rent                     299 non-null    object
 5   total_employed                  299 non-null    object
 6   per_capita_income               299 non-null    object
 7   avg_household_size              299 non-null    object
 8   enrolled_in_college             299 non-null    object
 9   total_bachelors_degree          299 non-null    object
 10  total_same_residence            299 non-null    object
 11  total_starbucks_locations       299 non-null    int64
 12  total_starbucks_reviews         299 non-null    int64
 13  weighted_avg_starbucks_ratings  299 non-null    float64
dtypes: float64(1), int64(3), object(10)
memory usage: 32.8+ KB

In [44]:
for col in acs_yelp_combined.columns:
    
    print(acs_yelp_combined[col].value_counts().head(5))

zip
82082    1
80002    1
80003    1
80004    1
80005    1
Name: count, dtype: int64
total_pop
1,811     1
20,589    1
36,233    1
35,349    1
29,155    1
Name: count, dtype: int64
males_per_100_females
96.2     5
107.4    5
97.3     5
102.6    4
105.7    3
Name: count, dtype: int64
median_age
38.2    7
39.5    5
39.2    5
35.6    5
35.1    5
Name: count, dtype: int64
median_rent
-        10
1,625     2
881       2
728       2
935       2
Name: count, dtype: int64
total_employed
857       1
12,503    1
19,962    1
19,289    1
16,343    1
Name: count, dtype: int64
per_capita_income
35,706    1
48,854    1
38,315    1
49,033    1
59,782    1
Name: count, dtype: int64
avg_household_size
2.48    9
2.43    7
2.26    7
2.38    7
2.87    6
Name: count, dtype: int64
enrolled_in_college
2,015    3
92       3
34       2
59       2
65       2
Name: count, dtype: int64
total_bachelors_degree
311      2
568      2
215      2
2,656    2
313      2
Name: count, dtype: int64
total_same_residence
1,708     1
16,585    1
30,156    1
30,436    1
26,539    1
Name: count, dtype: int64
total_starbucks_locations
0    131
1     56
2     37
3     30
4     15
Name: count, dtype: int64
total_starbucks_reviews
0     131
30      8
3       5
46      5
4       4
Name: count, dtype: int64
weighted_avg_starbucks_ratings
0.0    131
3.0     10
2.5      6
2.8      5
3.1      4
Name: count, dtype: int64

Found Issues 
- several columns have "-" as entries in a handful of rows
- a number of zip codes don't have a single starbucks location

### Drop rows (if applicable)

Remove all zip codes that don't contain at least a single Starbucks location

In [45]:
acs_yelp_combined = acs_yelp_combined[acs_yelp_combined.total_starbucks_locations > 0]

In [46]:
acs_yelp_combined.shape

(168, 14)

### Address Duplicates

In [47]:
acs_yelp_combined.zip.duplicated().sum()

np.int64(0)

### Handle missing, irregular values

In [48]:
acs_yelp_combined.isnull().sum()

zip                               0
total_pop                         0
males_per_100_females             0
median_age                        0
median_rent                       0
total_employed                    0
per_capita_income                 0
avg_household_size                0
enrolled_in_college               0
total_bachelors_degree            0
total_same_residence              0
total_starbucks_locations         0
total_starbucks_reviews           0
weighted_avg_starbucks_ratings    0
dtype: int64

In [49]:
acs_yelp_combined[acs_yelp_combined.median_rent == "-"]

,zip,total_pop,males_per_100_females,median_age,median_rent,total_employed,per_capita_income,avg_household_size,enrolled_in_college,total_bachelors_degree,total_same_residence,total_starbucks_locations,total_starbucks_reviews,weighted_avg_starbucks_ratings
198,80913,"6,697",911.6,21.7,-,371,"30,269",-,"1,901",112,"3,414",2,11,2.755

In [50]:
acs_yelp_combined.shape

(168, 14)

In [51]:
acs_yelp_combined = acs_yelp_combined[acs_yelp_combined.median_rent != '-']

In [52]:
acs_yelp_combined.shape

(167, 14)

### Drop fields

In [53]:
acs_yelp_combined.drop([ "zip", "total_starbucks_locations", "total_starbucks_reviews"], axis=1, inplace=True)

### Convert columns' data types

In [54]:
acs_yelp_combined.dtypes

total_pop                          object
males_per_100_females              object
median_age                         object
median_rent                        object
total_employed                     object
per_capita_income                  object
avg_household_size                 object
enrolled_in_college                object
total_bachelors_degree             object
total_same_residence               object
weighted_avg_starbucks_ratings    float64
dtype: object

In [55]:
acs_yelp_combined.head(2)

,total_pop,males_per_100_females,median_age,median_rent,total_employed,per_capita_income,avg_household_size,enrolled_in_college,total_bachelors_degree,total_same_residence,weighted_avg_starbucks_ratings
0,"20,589",96.2,36.1,"1,639","12,503","48,854",2.18,"1,285","4,024","16,585",3.359
1,"36,233",98.3,36.7,"1,625","19,962","38,315",2.53,"2,020","5,606","30,156",2.840

Address the commas present in several of the numeric fields

In [56]:
comma_cols = ["total_pop", "median_rent", "total_employed", "per_capita_income", "enrolled_in_college", 
              "total_bachelors_degree", "total_same_residence"]

In [57]:
acs_yelp_combined[comma_cols] = acs_yelp_combined[comma_cols].apply(lambda x: x.str.replace(',', ''))

In [58]:
acs_yelp_combined.head(2)

,total_pop,males_per_100_females,median_age,median_rent,total_employed,per_capita_income,avg_household_size,enrolled_in_college,total_bachelors_degree,total_same_residence,weighted_avg_starbucks_ratings
0,20589,96.2,36.1,1639,12503,48854,2.18,1285,4024,16585,3.359
1,36233,98.3,36.7,1625,19962,38315,2.53,2020,5606,30156,2.840

In [59]:
acs_yelp_combined[comma_cols] = acs_yelp_combined[comma_cols].astype(int)

In [60]:
acs_yelp_combined.dtypes

total_pop                           int64
males_per_100_females              object
median_age                         object
median_rent                         int64
total_employed                      int64
per_capita_income                   int64
avg_household_size                 object
enrolled_in_college                 int64
total_bachelors_degree              int64
total_same_residence                int64
weighted_avg_starbucks_ratings    float64
dtype: object

In [61]:
float_cols = ["males_per_100_females", "median_age", "avg_household_size"]

In [62]:
acs_yelp_combined[float_cols] = acs_yelp_combined[float_cols].astype(float)

Make sure the info below matches the information in 'schema.yaml'

In [63]:
acs_yelp_combined.dtypes

total_pop                           int64
males_per_100_females             float64
median_age                        float64
median_rent                         int64
total_employed                      int64
per_capita_income                   int64
avg_household_size                float64
enrolled_in_college                 int64
total_bachelors_degree              int64
total_same_residence                int64
weighted_avg_starbucks_ratings    float64
dtype: object

### Create the entity

In [64]:
from dataclasses import dataclass
from pathlib import Path

In [65]:
@dataclass(frozen=True)
class DataValidationConfig:
    root_dir: Path
    acs_demo_housing: Path
    acs_econ: Path
    acs_housing: Path
    acs_social: Path
    yelp: Path
    acs_yelp_combined: str
    all_schema: dict 
    STATUS_FILE: str

### Create configuration manager

In [66]:
from src.StarbucksProject.constants import *
from src.StarbucksProject.utils.common import read_yaml, create_directories

In [67]:
class ConfigurationManager:

    def __init__(self,
                 config_filepath=CONFIG_FILE_PATH, 
                 params_filepath=PARAMS_FILE_PATH,
                 schema_filepath=SCHEMA_FILE_PATH):

        self.config = read_yaml(config_filepath)
        self.params = read_yaml(params_filepath)
        self.schema = read_yaml(schema_filepath)

        create_directories([self.config.artifacts_root])

    def get_data_validation_config(self) -> DataValidationConfig:

        config = self.config.data_validation
        schema = self.schema.COLUMNS

        create_directories([config.root_dir])

        data_validation_config = DataValidationConfig(root_dir=config.root_dir,
                                                      acs_demo_housing=config.acs_demo_housing,
                                                      acs_econ=config.acs_econ,
                                                      acs_housing=config.acs_housing,
                                                      acs_social=config.acs_social,
                                                      yelp=config.yelp,
                                                      acs_yelp_combined=config.acs_yelp_combined,
                                                      all_schema=schema,
                                                      STATUS_FILE=config.STATUS_FILE)
            
        return data_validation_config

### Create the component

In [68]:
from src.StarbucksProject import logger

In [69]:
class DataValidation:

    def __init__(self, config: DataValidationConfig):

        self.config = config
    
    def load_data(self):
        
        acs_demo_housing = pd.read_csv(self.config.acs_demo_housing)
        acs_demo_housing = acs_demo_housing.iloc[:, 1:]
        
        acs_econ = pd.read_csv(self.config.acs_econ)
        acs_econ = acs_econ.iloc[:, 1:]
        
        acs_housing = pd.read_csv(self.config.acs_housing)
        acs_housing = acs_housing.iloc[:, 1:]
        
        acs_social = pd.read_csv(self.config.acs_social)
        acs_social = acs_social.iloc[:, 1:]
        
        yelp = pd.read_csv(self.config.yelp)
          
        return acs_demo_housing, acs_econ, acs_housing, acs_social, yelp
        
    def select_fields(self):
                
        demo_housing, econ, housing, social, yelp = self.load_data()
        
        
        demo_housing_cols = ["ZCTA", 
                             "Total population", 
                             "Total population Sex ratio (males per 100 females)",
                             "Total population Median age (years)"]   
        demo_housing = demo_housing[demo_housing_cols]


        econ_cols = ["ZCTA", 
                     "Civilian employed population 16 years and over", 
                     "Per capita income (dollars)"]   
        econ = econ[econ_cols]


        housing_cols = ["ZCTA", 
                        "Occupied units paying rent Median (dollars)"]   
        housing = housing[housing_cols]


        social_cols = ["ZCTA", 
                       "Total households Average household size",
                       "Population 3 years and over enrolled in school College or graduate school",
                       "Population 25 years and over Bachelor's degree",
                       "Population 1 year and over Same house"
                      ]   
        social = social[social_cols]
        
        return demo_housing, econ, housing, social, yelp
        

    def combine_data(self):
        
        dh, e, h, s, y = self.select_fields()
        
        acs_combined = pd.merge(dh, h, on="ZCTA", how="inner")
        acs_combined = pd.merge(acs_combined, e, on="ZCTA", how="inner")
        acs_combined = pd.merge(acs_combined, s, on="ZCTA", how="inner")
        acs_combined.rename(columns={'ZCTA': 'zip'}, inplace=True)

        acs_yelp_combined = pd.merge(acs_combined, y, on="zip", how="inner")
        
        return acs_yelp_combined
        
        
    def clean_data(self, df):  # pass in the df?
        
        clean_df = df.copy()
        
        # rename fields
        new_col_names = {"Total population": "total_pop",
                 "Total population Sex ratio (males per 100 females)": "males_per_100_females",
                 'Total population Median age (years)': 'median_age',
                 'Occupied units paying rent Median (dollars)': 'median_rent',
                 "Civilian employed population 16 years and over": 'total_employed',
                 'Per capita income (dollars)': 'per_capita_income',
                 "Total households Average household size": 'avg_household_size',
                 "Population 3 years and over enrolled in school College or graduate school" : "enrolled_in_college",
                 "Population 25 years and over Bachelor's degree": "total_bachelors_degree",
                 "Population 1 year and over Same house": "total_same_residence",
                 'total_stores': 'total_starbucks_locations',
                 'total_reviews': 'total_starbucks_reviews',
                 'review_weighted_avg': 'weighted_avg_starbucks_ratings'}
        clean_df.rename(columns=new_col_names, inplace=True)
        
        # drop rows
        clean_df = clean_df[clean_df.total_starbucks_locations > 0]
        
        # handle irregular values
        clean_df = clean_df[clean_df.median_rent != '-']
        
        # drop fields
        clean_df.drop([ "zip", "total_starbucks_locations", "total_starbucks_reviews"], axis=1, inplace=True)
        
        # convert data types
        comma_cols = ["total_pop", "median_rent", "total_employed", "per_capita_income", "enrolled_in_college", 
                      "total_bachelors_degree", "total_same_residence"]
        clean_df[comma_cols] = clean_df[comma_cols].apply(lambda x: x.str.replace(',', ''))
        clean_df[comma_cols] = clean_df[comma_cols].astype(int)
        
        float_cols = ["males_per_100_females", "median_age", "avg_household_size"]
        clean_df[float_cols] = clean_df[float_cols].astype(float)
        
        # add the new cleaned CSV to the 'artifacts' folder
        clean_df.to_csv(self.config.acs_yelp_combined, index=False)
        
    def validate_columns(self):
        
        data = pd.read_csv(self.config.acs_yelp_combined)
        
        try:

            validation_status = None

            # data = pd.read_csv(self.config.unzip_data_dir)

            all_cols = list(data.columns)

            all_schema = self.config.all_schema.keys()

            for col in all_cols:  # check if column is present in the schema defined in YAML file

                if col not in all_schema:
                    validation_status = False
                    with open(self.config.STATUS_FILE, 'w') as f:
                        f.write(f"Validation status: {validation_status}")
                else:
                    validation_status = True
                    with open(self.config.STATUS_FILE, 'w') as f:
                        f.write(f"Validation status: {validation_status}")

            return validation_status

        except Exception as e:
            raise e

### Create the pipeline

In [70]:
try:

    config = ConfigurationManager()

    data_validation_config = config.get_data_validation_config()
    
    data_validation = DataValidation(config=data_validation_config)
    
    combined_data = data_validation.combine_data()
    
    data_validation.clean_data(combined_data)
    
    data_validation.validate_columns()
    
except Exception as e:

    raise e

[ 2024-07-16 19:25:58,805: INFO: common: yaml file: config/config.yaml loaded successfully ]
[ 2024-07-16 19:25:58,809: INFO: common: yaml file: params.yaml loaded successfully ]
[ 2024-07-16 19:25:58,813: INFO: common: yaml file: schema.yaml loaded successfully ]
[ 2024-07-16 19:25:58,814: INFO: common: created directory at: artifacts ]
[ 2024-07-16 19:25:58,815: INFO: common: created directory at: artifacts/data_validation ]

### Modularize the code (once working)

- Return to project folder